<lib-form-section
  [title]="'Secret'"
  [text]="
    'Specify the name of the registry that contains your registry credentials.'
  "
  icon="fa:fab:docker"
>
  <mat-form-field
    class="wide"
    appearance="outline"
  >
    <input
      matInput
      placeholder="Provide the name of the registry that contains your registry credentials"
      [formControl]="parentForm.get('secretName')"
      #cstmimg
    />
    <mat-error>Please provide the name of the registry that contains your registry credentials</mat-error>
  </mat-form-field>
</lib-form-section>