<div class="center-flex">
  <div class="form-with-buttons">
    <div class="form--card-container mat-elevation-z2">
      <form novalidate (ngSubmit)="onSubmit()" [formGroup]="formCtrl">
        <app-form-name-namespace
          [parentForm]="formCtrl"
        ></app-form-name-namespace>

        <app-form-image
          [parentForm]="formCtrl"
          [images]="config?.baseImage?.options"
          [readonly]="config?.baseImage?.readOnly"
        ></app-form-image>

        <app-form-pip
          [parentForm]="formCtrl"
          [readonly]="config?.pipPackages?.readOnly"
        ></app-form-pip>

        <app-form-conda
          [parentForm]="formCtrl"
          [readonly]="config?.condaPackages?.readOnly"
        ></app-form-conda>

        <app-form-destination
          [parentForm]="formCtrl"
          [readonly]="config?.imageDestination?.readOnly"
        ></app-form-destination>

        <app-form-secret
          [parentForm]="formCtrl"
          [readonly]="config?.secretName?.readOnly"
        ></app-form-secret>
      </form>
    </div>

    <button
      mat-raised-button
      color="primary"
      class="form--button-margin"
      (click)="onSubmit()"
      [disabled]="!formCtrl.valid || blockSubmit"
    >
      LAUNCH
    </button>

    <button mat-raised-button type="button" (click)="onCancel()">
      CANCEL
    </button>
  </div>
</div>
